@use 'utils/_reset';
@use 'config';
@use 'components';

// wrapper
.wrapper {
  padding-left: var(--xl);
  padding-right: var(--xl);
  max-width: 1280px;
  margin: auto;
}

// header
header {
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding-top: var(--xs);
  padding-bottom: var(--xs);

  & > * {
    flex: 1;
  }

  a {
    transition: all .3s ease-in-out;

    &:hover {
      opacity: .8;
    }
  }

  .site {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include config.text(var(--xxs), var(--grey), 500);
    text-decoration: none;

    svg {
      margin-left: var(--xxxs);
    }
  }
}

// hero
.hero {
  background-image: url('/dist/img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: var(--s);
  padding-bottom: var(--s);
  
  .title-container {
    padding-top: var(--xs);
    padding-bottom: var(--xs);
    background-image: url('/dist/img/title-background.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: left center;

    h1 {
      @include config.text(var(--xs), var(--black), 300);

      strong {
        display: block;
        font-weight: 700;
      }
    }
  }

  form {
    margin-top: var(--xs);
    
    .input-group {
      max-width: 350px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: var(--xs);

      &:last-child {
        margin-bottom: 0;
      }

      label {
        @include config.text(var(--xxs), var(--black), 400);
        opacity: 0.7;
        margin-bottom: var(--xxxs);
        display: block;
        flex: 100%;
      }

      span {
        @include config.text(var(--xxs), var(--black), 700);
      }
      
      input[type="tel"], select {
        @include config.text(var(--xxs), var(--black), 400);
        margin-left: .5rem;
        border-radius: .5rem;
        box-shadow: 0px 2px 0px rgba(29, 29, 29, 0.13);
        border: none;
        padding: var(--xxs);
        outline: none;
        flex: 1;
      }

      select {
        margin-left: 0;
      }

      button {
        @include components.button(var(--black), var(--white), var(--yellow));
        flex: 1;
        transform: none;
        border-right: none;
        border-radius: .5rem;

        h4 {
          transform: none;
        }
      }
    }
  }
}

// products
.products {
  padding-top: var(--xl);
  padding-bottom: var(--xl);

  .title-container {
    text-align: center;

    h2 {
      @include config.text(var(--s), var(--black), 300);

      span {
        display: block;
      }

      strong {
        font-weight: 700;
        position: relative;

        hr {
          position: absolute;
          width: 100%;
          left: 0;
          border: none;
          height: .5em;
          margin: 0;
          background: var(--yellow-gradient);
          bottom: 0;
          z-index: -1;
        }
      }
    }
  }

  ul {
    margin-top: var(--l);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: var(--xxs);

    li {
      border-radius: .25rem;
      border: 1px solid #ECECEC;
      padding: var(--xs);
      display: flex;
      align-items: center;

      .text-container {
        flex: 1;

        h4 {
          @include config.text(1.25rem, var(--black), 500);
          margin-bottom: .5rem;
        }
        
        p {
          @include config.text(var(--xxxs), var(--black), 400);
          max-width: 275px;
          line-height: 160%;
          opacity: 0.7;
        }

        a {
          display: inline-block;
          margin-top: var(--m);
          @include config.uppercase-text(var(--xxxs), var(--black), 700);
          text-decoration: none;
          position: relative;

          hr {
            position: absolute;
            width: 100%;
            left: 0;
            border: none;
            height: .5em;
            margin: 0;
            background: var(--yellow-gradient);
            bottom: 0;
            z-index: -1;
            transition: all .2s ease-in-out;
          }

          &:hover {
            hr {
              bottom: -3px;
            }
          }
        }
      }

      .image-container {
        img {
          max-width: 100%;
        }
      }
    }
  }
}

// isolant plus CTA
.isolant-plus {
  background-image: url('/dist/img/isolant-plus-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: var(--xl);
  padding-bottom: var(--xl);
  text-align: center;

  h3 {
    @include config.text(var(--xs), var(--black), 500);
    max-width: 620px;
    margin: auto;

    strong {
      font-weight: 700;
    }
  }

  button {
    margin-top: var(--s);
    @include components.button(var(--black), var(--white), var(--yellow));

    a {
      text-decoration: none;
    }
  }
}

// footer
footer {
  background-color: var(--black);
  padding-top: var(--xxs);
  padding-bottom: var(--xxs);

  .wrapper {
    display: flex;
    align-items: center;

    p {
      @include config.text(var(--xxxs), var(--white), 500);
      flex: 1;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        margin-left: var(--s);

        a {
          opacity: .7;
          transition: all .3s ease-in-out;

          svg {
            path {
              fill: var(--white);
            }
          }

          &:hover {
            opacity: 1;
          }
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

// success modal
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(29,29,29,.8);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    background-color: var(--white);
    padding: var(--l);
    padding-top: 0;
    border-radius: var(--xxxs);
    text-align: center;

    .modal-heading {
      position: relative;
      top: -30px;

      .title-container {
        text-align: center;
        margin-top: var(--xs);

        h2 {
          @include config.text(var(--s), var(--black), 300);

          span {
            display: block;
          }

          strong {
            font-weight: 700;
            position: relative;
            z-index: 2;

            hr {
              position: absolute;
              width: 100%;
              left: 0;
              border: none;
              height: .5em;
              margin: 0;
              background: var(--yellow-gradient);
              bottom: 0;
              z-index: -1;
            }
          }
        }
      }

      p {
        margin-top: var(--m);
        @include config.text(var(--xxs), var(--black), 400);
        opacity: 0.7;
      }
    }

    .modal-ctas {
      display: flex;
      justify-content: space-around;

      a {
        margin: 0 var(--xxs);
        padding: var(--xs) !important;
        text-decoration: none;
      }

      a:first-child {
        @include components.button(var(--black), var(--white), var(--yellow));
      }

      a:last-child {
        @include components.button(var(--yellow), var(--black), var(--black));
      }
    }
  }
}

// RESPONSIVE

// 1240
@media screen and (max-width: 1240px) {
  .hero {
    .title-container {
      background-size: 75%;
    }
  }
}

// 1024
@media screen and (max-width: 1024px) {
  .hero {
    .title-container {
      background-size: 85%;
    }
  }
}

// 900
@media screen and (max-width: 900px) {
  .wrapper {
    padding-left: var(--s);
    padding-right: var(--s);
  }
}

// 768
@media screen and (max-width: 768px) {
  .hero {
    .title-container {
      background-size: 100%;

      h1 {
        font-size: var(--xs);
      }
    }

    form {
      .input-group {
        input[type="tel"] {
          min-width: 210px;
        }

        button {
          padding: var(--xxs) var(--s)
        }
      }
    }
  }

  .overlay {
    .modal {
      padding: var(--s);
    }
  }
}

// 590
@media screen and (max-width: 590px) {
  .wrapper {
    padding-left: var(--xxxs);
    padding-right: var(--xxxs);
  }

  .hero {
    .title-container {
      padding-top: var(--xs);
      padding-bottom: var(--xs);
    }

    form {
      .input-group {
        span {
          font-size: var(--xxxs);
        }

        input[type="tel"] {
          font-size: var(--xxxs);
          min-width: 160px;
        }

        button {
          padding: var(--xxs);

          h4 {
            font-size: var(--xxxs);
          }
        }
      }
    }
  }

  .overlay {
    .modal {
      padding: var(--xxxs);

      .modal-heading {
        top: -45px;

        .title-container {
          h2 {
            font-size: var(--xs);
          }
        }
      }

      .modal-ctas {
        flex-direction: column;
        align-items: center;

        a {
          margin: var(--xxxs) 0;
          box-sizing: border-box;
          width: 90%;
        }
      }
    }
  }
}

// 490
@media screen and (max-width: 490px) {
  .hero {
    .title-container {
      padding-top: var(--xxs);
      padding-bottom: var(--xxs);

      h1 {
        strong {
          display: inline;
        }
      }
    }
  }

  .products {
    padding-top: var(--l);
    padding-bottom: var(--l);

    .title-container {
      h2 {
        font-size: var(--xs);
      }
    }

    ul {
      margin-top: var(--m);
    }
  }

  .isolant-plus {
    padding-top: var(--l);
    padding-bottom: var(--l);

    h3 {
      font-size: var(--xxs);
    }
  }
}

// 460
@media screen and (max-width: 460px) {
  .hero {
    .title-container {
      background: transparent;
      background-color: var(--yellow);
    }
  }
}

// 420
@media screen and (max-width: 420px) {
  .hero {
    form {
      .input-group {
        flex-wrap: wrap;

        input[type="tel"] {
          flex: 1;
        }

        button {
          left: 0;
          flex: 100%;
          margin-top: var(--xxs);
        }
      }
    }
  }

  .products {
    ul {
      grid-template-columns: 1fr;
    }
  }
}

// 375
@media screen and (max-width: 375px) {
  footer {
    .wrapper {
      ul {
        li {
          margin-left: var(--xxs);
        }
      }
    }
  }
}

// 320
@media screen and (max-width: 320px) {
  header {
    .logo {
      svg {
        width: 120px;
      }
    }

    .site {
      font-size: var(--xxxs);
    }
  }

  .hero {
    padding-top: var(--m);
    padding-bottom: var(--m);

    .title-container {
      h1 {
        font-size: var(--xxs);
      }
    }

    form {
      margin-top: var(--s);
    }
  }

  .products {
    padding-top: var(--m);
    padding-bottom: var(--m);

    ul {
      li {
        padding: var(--xxs);

        .image-container {
          img {
            max-width: 90px;
          }
        }
      }
    }
  }

  .isolant-plus {
    padding-top: var(--m);
    padding-bottom: var(--m);
  }

  footer {
    .wrapper {
      flex-direction: column;

      ul {
        margin-top: var(--xs);
      }
    }
  }
}